<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Recipes</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <style>
      body {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      }
      .sign {
        margin: auto;
        width: 50%;
        border: 1px solid lightgray;
        border-radius: 4px;
        padding: 16px;
      }
      .helptext {
        display: block;
        font-size: 90%;
        color: gray;
        margin-top: 16px;
      }
      button {
        padding: 6px 16px;
      }
    </style>
  </head>
  <body>
    <div class="sign">{% block main %}{% endblock %}</div>
  </body>
</html>
