{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Recipes</title>
    <script>
      {% if user.is_authenticated %}
          window.username='{{ user.get_username }}';
      {% endif %}
    </script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <body>
    <div id="root" />
    {% csrf_token %}
    <script src="{% static 'app/index.js' %}"></script>
  </body>
</html>
